# Configuración de Base de Datos PostgreSQL Local
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/legal_rd?schema=public"

# Clave secreta para generación de sesiones JWT y autenticación
AUTH_SECRET="tu_clave_secreta_aqui"

# Entorno de ejecución
NODE_ENV="development"
